page-infos-form {

  .infosForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    border : lightgray solid ;
    padding: 10px 10px;
    margin-top: 50px;

  }
  .infoCard {
    margin-top: 50px;
  }
}
